ALLOW_SIGNUP={{ ansible_facts['mealie_allow_signup'] | default('false') }}
DB_ENGINE={{ ansible_facts['mealie_db_engine'] | default('sqlite') }} # Optional: 'sqlite', 'postgres'
# =====================================
# Web Concurrency
WEB_GUNICORN={{ ansible_facts['mealie_gunicorn'] | default('false') }}
WORKERS_PER_CORE={{ ansible_facts['mealie_workers_per_core'] | default('0.5') }}
MAX_WORKERS={{ ansible_facts['mealie_max_workers'] | default('1') }}
WEB_CONCURRENCY={{ ansible_facts['mealie_web_concurrency'] | default('1') }}
# =====================================
# Postgres Config
# POSTGRES_USER: mealie
# POSTGRES_PASSWORD: mealie
# POSTGRES_SERVER: postgres
# POSTGRES_PORT: 5432
# POSTGRES_DB: mealie
# =====================================
# Email Configuration
# SMTP_HOST=
# SMTP_PORT=587
# SMTP_FROM_NAME=Mealie
# SMTP_AUTH_STRATEGY=TLS # Options: 'TLS', 'SSL', 'NONE'
# SMTP_FROM_EMAIL=
# SMTP_USER=
# SMTP_PASSWORD=