services:
  mealie: # Basic Deployment - TODO db and email deployment
    container_name: {{ mealie_container_name | default('mealie') }}
    image: ghcr.io/mealie-recipes/mealie:{{ mealie_version | default('latest') }}
    restart: {{ mealie_restart_policy | default('unless-stopped') }}
    ports:
      - {{ mealie_published_port | default('9000') }}:9000
    env_file: {{ mealie_env_file | default('.secretfile-mealie') }}
    volumes:
      - {{ mealie_config_path | default('/opt/mealie') }}:/app/data
