services:
# Watchtower is going to keep our instances updated
  watchtower:
    container_name: {{ watchtower_container_name | default('watchtower') }}
    image: ghcr.io/containrrr/watchtower:{{ watchtower_version | default('latest') }}
    restart: {{ watchtower_restart_policy | default('unless-stopped') }}
    env_file: {{ watchtower_env_file | default('.secretfile-watchtower') }}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
