services:
  jellyfin:
    container_name: {{ jellyfin_container_name | default('jellyfin') }}
    image: lscr.io/linuxserver/jellyfin:{{ jellyfin_version | default('latest') }}
    restart: {{ jellyfin_restart_policy | default('unless-stopped') }}
    ports:
      - {{ jellyfin_published_http_port | default('8096') }}:8096
      {% if jellyfin_https_webui is true %}
      - {{ jellyfin_published_https_port | default('8920') }}:8920 # optional Https webUI (you need to set up your own certificate).
      {% endif %}
      {% if jellyfin_local_network_discovery is true %}
      - 7359:7359/udp # optional Allows clients to discover Jellyfin on the local network.
      {% endif %}
      {% if jellyfin_service_discovery is true %}
      - 1900:1900/udp # optional Service discovery used by DNLA and clients.
      {% endif %}
   env_file: {{ jellyfin_env_file | default('.secretfile-jellyfin') }}
    volumes:
      - {{ jellyfin_config_path | default('/opt/jellyfin') }}:/config
      - {{ media_tvshows_path | default('/mnt/media/tvshows') }}:/data/tvshows
      - {{ media_movies_path | default('/mnt/media/movies') }}:/data/movies
