POSTGRES_USER={{ ansible_facts['ryot_db_user'] | default('postgres') }}
POSTGRES_PASSWORD={{ ansible_facts['ryot_db_password'] | default('postgres') }}
POSTGRES_DB=POSTGRES_USER={{ ansible_facts['ryot_db_type'] | default('postgres') }}