DISCORD__TOKEN={{ ansible_facts['doplarr_discord_token'] }}
RADARR__API={{ ansible_facts['doplarr_radarr_api'] }}
RADARR__URL={{ ansible_facts['doplarr_radarr_url'] | default('http://localhost:7878') }}
SONARR__API={{ ansible_facts['doplarr_sonarr_api'] }}
SONARR__URL={{ ansible_facts['doplarr_sonarr_url'] | default('http://localhost:7878') }}
PUID={{ ansible_facts['doplarr_puid'] | default('0') }}
PGID={{ ansible_facts['doplarr_pgid'] | default('0') }}
# DISCORD__MAX_RESULTS=25 # optional
# DISCORD__REQUESTED_MSG_STYLE=:plain # optional
# SONARR__QUALITY_PROFILE= #optional
# RADARR__QUALITY_PROFILE= #optional
# SONARR__ROOTFOLDER= #optional
# RADARR__ROOTFOLDER= #optional
# SONARR__LANGUAGE_PROFILE= # optional
# OVERSEERR__DEFAULT_ID= # optional
# PARTIAL_SEASONS=true # optional
# LOG_LEVEL=:info # optional
# JAVA_OPTS= # optional