# TODO do this based on wireguard vs openvpn selection - for now support openvpn
VPN_SERVICE_PROVIDER={{ gluetun_vpn_service_provider }}
VPN_TYPE={{ gluetun_vpn_type | default('openvpn') }}
OPENVPN_USER={{ gluetun_openvpn_user }}
OPENVPN_PASSWORD={{ gluetun_openvpn_password }}
SERVER_COUNTRIES={{ gluetun_server_countries | default('Denmark') }}