# TODO do this based on wireguard vs openvpn selection - for now support openvpn
VPN_SERVICE_PROVIDER={{ ansible_facts['gluetun_vpn_service_provider'] }}
VPN_TYPE={{ ansible_facts['gluetun_vpn_type'] | default('openvpn') }}
OPENVPN_USER={{ ansible_facts['gluetun_openvpn_user'] }}
OPENVPN_PASSWORD={{ ansible_facts['gluetun_openvpn_password'] }}
SERVER_COUNTRIES={{ ansible_facts['gluetun_server_countries'] | default('Denmark') }}