services:
  audiobookshelf:
    container_name: {{ audiobookshelf_container_name | default('audiobookshelf') }}
    image: ghcr.io/advplyr/audiobookshelf:{{ audiobookshelf_version | default('latest') }}
    restart: {{ audiobookshelf_restart_policy | default('unless-stopped') }}
    ports:
      - {{ audiobookshelf_published_port | default('8000') }}:80
    volumes:
      - {{ media_audiobooks_path | default('/mnt/media/audiobooks') }}:/audiobooks
      - {{ media_podcasts_path | default('/mnt/media/podcasts') }}:/podcasts
      - {{ audiobookshelf_metadata_path | default('/opt/audiobookshelf/metadata') }}:/metadata
      - {{ audiobookshelf_db_path | default('/opt/audiobookshelf/config') }}:/config