services:  
  romm: # Basic Setup - TODO mariadb and redis
    container_name: {{ romm_container_name | default('romm') }}
    image: docker.io/zurdi15/romm:{{ romm_version | default('latest') }}
    restart: {{ romm_restart_policy | default('unless-stopped') }}
    ports:
      - {{ romm_published_port | default('8081') }}:8080
    env_file: {{ romm_env_file | default('.secretfile-romm') }}
    volumes:
      - {{ romm_library_path | default('/opt/romm/library') }}:/romm/library