services:
# Simple file browser - useful for quickly checking files, uploading/downloading files, etc. #
  filebrowser:
    container_name: {{ filebrowser_container_name | default('filebrowser') }}
    image: docker.io/filebrowser/filebrowser:{{ filebrowser_version | default('latest') }}
    restart: {{ filebrowser_restart_policy | default('unless-stopped') }}
    ports:
      - {{ filebrowser_published_port | default('8080') }}:80
    env_file: {{ filebrowser_env_file | default('.secretfile-filebrowser') }}
    volumes:
      - {{ filebrowser_file_serve | default('/') }}:/srv # by default serve all directories
      - {{ filebrowser_database_path | default('/opt/filebrowser/db') }}:/database
      - {{ filebrowser_config_path | default('/opt/filebrowser/config') }}:/config
